body {
  margin: 0;
  background-color: hsl(220, 30%, 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container {
  margin: 0;
  padding: 0;
  width: 400px;

  height: 400px;
  background-color: rgb(199, 222, 241);
  border: 2px solid hsl(220, 85%, 0%);
  display: flex;
  flex-flow: wrap;
}

.box {
  /* very important propert for creating grid */
  box-sizing: border-box;
  border: 1px solid hsl(0, 91%, 30%);
  width: 100px;
  flex: 1 1 auto;
}
h1 {
  font-size: 24px;
  margin: 0;
}
